*{
    margin: 0;
    
}

.gridPrincipal{
    background-color: #cde6d9;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: .20fr, .70fr, .1fr;  
    grid-template-areas: "header"
                         "central" 
                         "footer"; 
    
}

.header{
    grid-area: header;
    background-color: #231B42;
    width: 100%;
}

.central{
    grid-area: central;
    justify-content: center;
}

.footer{
    grid-area: "footer";
    background-color: #231B42;
}

.divImg, .info{
    background-color: #E6E1CD;
    height: 50px;
}

